.flex-container {
    display: flex;
    flex-direction: column;
    height: 98vh;
  }

a{
  padding-top: 16px;
  padding-bottom: 16px;
}
a:first-of-type{
  margin-top: 50px;
}

.head{
    height: 150px;
    background-color: #0b76a0;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    
}
.head-in{
  width: 30%;
}
.head-in2{
  width: 30%;
  text-align: center;
}
.head-in3{
  width: 30%;
  text-align: right;

}

.sidebar{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    background-color: #c1e5f5;
    gap: 15px;
}
a:first-of-type{
    margin-top: 50px;
}

.main-content{
    display: flex;
    flex: 1;
}
.content {

    flex: 1;
  }

.containerin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  
  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .box-medium {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #156082;
    color: white;
    font-size: 25px;
    border: 3px solid black;
  }
  
  .box-large {
    width: 100%;
    height: 300px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .box-bottom-right {
    
    width: 100px;
    height: 50px;
    border: 3px solid #000000;
    background-color: #156082;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
  }

  .sectionPhoneList{
    font-size: 35px;
    display: flex;
    align-items: center;
    color: #156082;
    height: 50px;
  }
  .sectionNew{
    width: 100px;
    height: 50px;
    border: 3px solid #000000;
    background-color: #156082;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
  }

  .sectionNew:hover {
    background-color: #07384f;
  }
  .phoneList{
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #dceaf7;
  }
  .listRight{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

  }
  .phone-name-header{
    width: 65%;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .phone-name{
    width: 65%;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .price{
    width: 24%;
    display: flex;
    align-items: center;
  }

button{
  color: #9e276e;
  border-radius: 3px;
  border-color: #9e276e;
  background-color: #f2cfee;
  width: 60px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}
button:hover{
  background-color: #c0a9be;
}
